Repository polarismesh/polaris, pull requests merged in 2022-09, with the labels that each got.

#627 Polaris HTTP server support Swagger2.0
  apiserver/httpserver/naming_client_access.go
  apiserver/httpserver/naming_console_access.go
  apiserver/httpserver/server.go
  apiserver/httpserver/swagger_access.go
  go.mod
  go.sum
  polaris-server.yaml
  service/instance.go
Labels: documentation, code quality, keystone, console

#645 fix:issue #644
  auth/defaultauth/user.go
  auth/defaultauth/utils.go
  common/utils/common.go
  polaris-server.yaml
  service/instance.go
  store/boltdb/default.go
  store/boltdb/group.go
  store/boltdb/strategy.go
  store/boltdb/user.go
Labels: bug, auth

#652 config_server中的http接口添加Swagger的描述
  apiserver/httpserver/config_server.go
  apiserver/httpserver/config_server_apidoc.go
  apiserver/httpserver/naming_client_access.go
  apiserver/httpserver/naming_console_access.go
  apiserver/httpserver/swagger_access.go
  go.mod
  go.sum
Labels: documentation, enhancement, code quality, keystone, console

#670 fix:修复eureka协议中心跳错误的处理
  apiserver/eurekaserver/eureka_suit_test.go
  apiserver/eurekaserver/write.go
  apiserver/eurekaserver/write_test.go
  bootstrap/server.go
  config/bootstrap_test.go
  service/healthcheck/report.go
  service/healthcheck/server.go
  service/main_test.go
  testdata/config_test.yaml
  testdata/config_test_sqldb.yaml
  testdata/eureka_apiserver_test.yaml
  testdata/service_test.yaml
  testdata/service_test_sqldb.yaml
  testdata/testdata.go
Labels: bug, service

#673 fix:修复eureka协议中心跳错误的处理 (#670)
  apiserver/eurekaserver/eureka_suit_test.go
  apiserver/eurekaserver/write.go
  apiserver/eurekaserver/write_test.go
  bootstrap/server.go
  config/bootstrap_test.go
  service/healthcheck/report.go
  service/healthcheck/server.go
  service/main_test.go
  testdata/config_test.yaml
  testdata/config_test_sqldb.yaml
  testdata/eureka_apiserver_test.yaml
  testdata/service_test.yaml
  testdata/service_test_sqldb.yaml
  testdata/testdata.go
Labels: bug

#678 fix:issue #625 part 3
  .github/workflows/standalone.yml
  .gitignore
  apiserver/httpserver/i18n/en.toml
  apiserver/httpserver/i18n/messages.genearate.go
  apiserver/httpserver/i18n/zh.toml
  cache/routing_config.go
  common/api/v1/codeinfo.go
  common/routing/routing.go
  deploy/helm/templates/prometheus.yaml
  deploy/helm/values.yaml
  deploy/standalone/docker-compose/docker-compose.yaml
  deploy/standalone/k8s/01-polaris-console-config.yaml
  deploy/standalone/k8s/02-polaris-server-config.yaml
  deploy/standalone/k8s/03-polaris-server.yaml
  deploy/standalone/k8s/04-prometheus.yaml
  deploy/standalone/vm/install-darwin.sh
  deploy/standalone/vm/install-linux.sh
  deploy/standalone/vm/install-windows.ps1
  deploy/standalone/vm/port.properties
  deploy/standalone/vm/prometheus-help.sh
  deploy/standalone/vm/uninstall-darwin.sh
  deploy/standalone/vm/uninstall-linux.sh
  deploy/standalone/vm/uninstall-windows.ps1
  service/main_test.go
  service/routing_config_v1_test.go
  service/routing_config_v1tov2.go
  service/routing_config_v2.go
  service/routing_config_v2_test.go
  service/service_test.go
  store/boltdb/routing_config_v2.go
  store/boltdb/routing_test.go
Labels: keystone, install, github-action

#698 fix issue #629 (#693)
  apiserver/httpserver/i18n/en.toml
  apiserver/httpserver/i18n/zh.toml
  common/api/v1/codeinfo.go
  namespace/namespace.go
  test/http/circuitbreaker_config.go
  test/http/client.go
  test/http/config_center.go
  test/http/instance.go
  test/http/namespace.go
  test/http/ratelimit_config.go
  test/http/service.go
  test/namespace_test.go
Labels: bug, config

#704 fix: issue 701
  cache/routing_config_query.go
Labels: bug

#706 refactor:优化v2路由规则对于v1路由规则的兼容逻辑
  apiserver/httpserver/server.go
  apiserver/httpserver/v1/naming_client_access.go
  apiserver/httpserver/v2/naming_client_access.go
  cache/routing_config.go
  common/api/v2/response.go
  common/model/v2/routing.go
  common/routing/routing.go
  polaris-server.yaml
  service/main_test.go
  service/routing_config_v2.go
  service/routing_config_v2_test.go
  store/boltdb/routing_config_v2.go
  store/sqldb/scripts/delta/v1_8_0-v1_11_0.sql
Labels: bug

#707 fix:优化v2路由规则对于v1路由规则的兼容逻辑
  apiserver/httpserver/server.go
  apiserver/httpserver/v1/naming_client_access.go
  apiserver/httpserver/v2/naming_client_access.go
  cache/routing_config.go
  common/api/v2/response.go
  common/model/v2/routing.go
  common/routing/routing.go
  polaris-server.yaml
  service/main_test.go
  service/routing_config_v2.go
  service/routing_config_v2_test.go
  store/boltdb/routing_config_v2.go
  store/sqldb/scripts/delta/v1_8_0-v1_11_0.sql
Labels: bug
