Repository polarismesh/polaris, pull requests merged in 2022-05, with the labels that each got.

#363 运维接口纳入鉴权管理体系
  apiserver/httpserver/maintain_access.go
  apiserver/httpserver/server.go
  auth/defaultauth/auth_mgn_core.go
  bootstrap/server.go
  common/model/auth.go
  maintain/api.go
  maintain/default.go
  maintain/log.go
  maintain/maintain.go
  maintain/maintain_authability.go
  maintain/server.go
  maintain/server_authability.go
Labels: apisever, auth, good advanced issue

#372 [ISSUE #371] 补充单元测试 & 修复boltdb问题
  .gitignore
  apiserver/eurekaserver/default.go
  apiserver/grpcserver/config/client_access.go
  apiserver/grpcserver/config/default.go
  apiserver/grpcserver/config/server.go
  apiserver/grpcserver/discover/client_access.go
  apiserver/grpcserver/discover/default.go
  apiserver/grpcserver/discover/server.go
  apiserver/httpserver/default.go
  apiserver/httpserver/server.go
  apiserver/l5pbserver/default.go
  apiserver/prometheussd/default.go
  apiserver/prometheussd/prometheus_access.go
  apiserver/prometheussd/server.go
  apiserver/xdsserverv3/default.go
  apiserver/xdsserverv3/server.go
  auth/defaultauth/group.go
  auth/defaultauth/group_test.go
  auth/defaultauth/user.go
  auth/defaultauth/user_test.go
  bootstrap/server.go
  cache/strategy_test.go
  cache/user.go
  cache/user_test.go
  config/server.go
  config/service/config_file.go
  config/service/config_file_release.go
  config/test/bootstrap.go
  config/watcher.go
  deploy/helm/templates/polaris-server-config.yaml
  deploy/helm/templates/polaris-server.yaml
  deploy/helm/values.yaml
  deploy/standalone/k8s/00-polaris-namespace.yaml
  deploy/standalone/k8s/01-polaris-console-config.yaml
  deploy/standalone/k8s/02-polaris-server-config.yaml
  deploy/standalone/k8s/03-polaris-server.yaml
  deploy/standalone/k8s/04-prometheus.yaml
  plugin.go
  polaris-server.yaml
  store/boltdb/bolt_common.go
  store/boltdb/circuitbreaker.go
  store/boltdb/namespace.go
  store/boltdb/ratelimit.go
  store/boltdb/routing.go
  store/boltdb/routing_test.go
  store/boltdb/service.go
  store/boltdb/service_test.go
Labels: test, code quality, config, service, install

#381 [ISSUE #380]服务名称支持使用反斜线进行拼接
  common/utils/common.go
  common/utils/common_test.go
  service/utils.go
  service/utils_test.go
  store/sqldb/user.go
  test/http/client.go
  test/http/namespace.go
  test/resource/service.go
  test/service_test.go
Labels: enhancement, service

#385 [ISSUE #382] add pr codecov
  .github/workflows/codecov.yaml
  .github/workflows/testing.yml
  .gitignore
  common/timewheel/timewheel_test.go
  service/batch/config.go
  service/batch/instance.go
  service/testauthplugin/test.yaml
  test/auth/circuitbreaker_config_test.go
  test/auth/instance_test.go
  test/auth/main_test.go
  test/auth/ratelimit_config_test.go
  test/auth/routing_config_test.go
  test/auth/service_test.go
  test/auth/test.yaml
  test/config_center/README.md
  test/config_center/bootstrap_test.go
  test/config_center/client_test.go
  test/config_center/common_test.go
  test/config_center/config_file_group_test.go
  test/config_center/config_file_test.go
  test/config_center/test.yaml
  test/discover/README.md
  test/discover/circuitbreaker_config_test.go
  test/discover/client_test.go
  test/discover/instance_test.go
  test/discover/l5service_test.go
  test/discover/main_test.go
  test/discover/mesh/invalid-virtualService.yaml
  test/discover/mesh/normal-gateway.yaml
  test/discover/mesh/normal-virtualService-nometa.yaml
  test/discover/mesh/normal-virtualService.yaml
  test/discover/mesh/update-virtualService.yaml
  test/discover/namespace_test.go
  test/discover/platform_test.go
  test/discover/ratelimit_config_test.go
  test/discover/routing_config_test.go
  test/discover/run.sh
  test/discover/service_alias_test.go
  test/discover/service_test.go
  test/discover/test.yaml
  test/strategy_test.go
  test/user_test.go
Labels: code quality

#378 [ISSUE #345] 依赖timestamp进行cache增量更新
  store/api.go
  store/auth_api.go
  store/config_file_api.go
  store/discover_api.go
  store/sqldb/circuitbreaker_config.go
  store/sqldb/client.go
  store/sqldb/common.go
  store/sqldb/config_file_release.go
  store/sqldb/group.go
  store/sqldb/instance.go
  store/sqldb/namespace.go
  store/sqldb/ratelimit_config.go
  store/sqldb/routing_config.go
  store/sqldb/service.go
  store/sqldb/strategy.go
  store/sqldb/user.go
Labels: bug, store, service
