Repository polarismesh/polaris, pull requests merged in 2022-08, with the labels that each got.

#550 Issue fix/server i18n
  apiserver/httpserver/handler.go
  apiserver/httpserver/handler_test.go
  apiserver/httpserver/i18n/cmd/gen.go
  apiserver/httpserver/i18n/en.toml
  apiserver/httpserver/i18n/messages.genearate.go
  apiserver/httpserver/i18n/translate.go
  apiserver/httpserver/i18n/translate_test.go
  apiserver/httpserver/i18n/zh.toml
  build.sh
  common/api/v1/response.go
  go.mod
  go.sum
  test/i18n_test.go
Labels: enhancement, console

#553 [ISSUE #554] Refactor config center code style
  bootstrap/server.go
  cache/config_file.go
  config/api.go
  config/bootstrap_test.go
  config/client_config_file.go
  config/client_config_file_authibility.go
  config/client_test.go
  config/common.go
  config/config_file.go
  config/config_file_group.go
  config/config_file_release.go
  config/config_file_release_authibility.go
  config/config_file_release_history.go
  config/config_file_release_history_authibility.go
  config/config_file_tag.go
  config/config_file_tag_test.go
  config/config_file_template.go
  config/connection_manager.go
  config/scanner.go
  config/server.go
  config/test.yaml
  config/test_sqldb.yaml
  config/watcher.go
  go.mod
  go.sum
  namespace/api.go
  namespace/default.go
  namespace/namespace.go
  namespace/namespace_authability.go
  namespace/resource_listener.go
  namespace/server.go
  namespace/test_export.go
  service/default.go
  service/main_test.go
  service/options.go
  service/server.go
  service/service.go
  service/test_export.go
  store/boltdb/config_file.go
  store/boltdb/config_file_group.go
  store/boltdb/config_file_release.go
  store/boltdb/config_file_tag.go
  store/boltdb/config_file_template.go
  store/sqldb/config_file.go
  store/sqldb/config_file_group.go
  store/sqldb/config_file_release.go
  store/sqldb/config_file_release_history.go
  store/sqldb/config_file_tag.go
  store/sqldb/config_file_template.go
Labels: test, code quality, config, service

#589 fix:修复v1.11.0的问题
  config/config_file_tag_test.go
  polaris-server.yaml
  service/instance.go
  service/service.go
  store/boltdb/default.go
Labels: bug, service

#590 fix: fix standalone install can't modify port
  deploy/standalone/vm/install-darwin.sh
  deploy/standalone/vm/install-linux.sh
Labels: install

#549 feat: xdsserver support mtls mode
  apiserver/xdsserverv3/cluster.go
  apiserver/xdsserverv3/configurations.go
  apiserver/xdsserverv3/dump.go
  apiserver/xdsserverv3/listener.go
  apiserver/xdsserverv3/server.go
  apiserver/xdsserverv3/server_test.go
  apiserver/xdsserverv3/testdata/data.json
  apiserver/xdsserverv3/testdata/dump.yaml
  apiserver/xdsserverv3/testdata/permissive.dump.yaml
  apiserver/xdsserverv3/testdata/strict.dump.yaml
  deploy/helm/templates/polaris-server-config.yaml
  deploy/helm/templates/polaris-server.yaml
Labels: service, xds

#607 fix: fix issue #573 & #596
  cache/instance.go
  cache/instance_test.go
  go.mod
  go.sum
  service/instance_test.go
  store/boltdb/circuitbreaker.go
  store/boltdb/namespace.go
  store/boltdb/namespace_test.go
  store/boltdb/ratelimit.go
  store/boltdb/routing.go
Labels: code quality, service

#608 fix: docker standalone方式启动 重启后数据被清空
  deploy/standalone/vm/install-linux.sh
Labels: install
